.home{
    height: 100vh;
    width: 100%;
}

.home_container{
    display: flex;
    height: 100%;
}

.home_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

.home_heading .heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #F8F8FF;
    line-height: 70px;
}

.home_heading .subheading{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #F8F8FF;
    margin-top: 8px;
}

.home_heading .buttons{
    margin-top: 40px;
    display: flex;
    gap: 40px;
    height: 70px;
    cursor: pointer;
}

            /* Contact Button */

.home_heading .buttons .primary_button{
    display: block;
    color: #F8F8FF;
    background-color: #00BFFF;
    font-size: 28.8px;
    width: 180px;
    height: 100%;
    position: relative;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.primary_button div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.primary_button span.prim-bg{
    background-color: #1B91FB;
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid #00BFFF;
    left: -5%;
    transition: .7s ease;
    transform: skewX(-10deg);
}

.primary_button:hover span.prim-bg{
    width: 110%;
}

.primary_button span.prim-bg2{
    background-color: #FF3662;
    width: 0;
    height: 100%;
    position: absolute;
    left: -5%;
    transition: .6s ease-in-out;
    transform: skewX(-12deg);
}

.primary_button:hover span.prim-bg2{
    width: 110%;
}

.primary_button span.prim-base{
    box-sizing: border-box;
    background-color: transparent;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #00BFFF;
}

.primary_button span.prim-text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: transparent;
} 

            /* Resume Button */

.home_heading .buttons .secondary_button{
    display: block;
    color: #F8F8FF;
    background-color: #00BFFF;
    font-size: 28.8px;
    width: 180px;
    height: 100%;
    position: relative;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.secondary_button div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.secondary_button span.sec-bg{
    background-color: #1B91FB;
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid #00BFFF;
    left: -5%;
    transition: .7s ease;
    transform: skewX(-10deg);
}

.secondary_button:hover span.sec-bg{
    width: 110%;
}

.secondary_button span.sec-bg2{
    background-color: #FF3662;
    width: 0;
    height: 100%;
    position: absolute;
    left: -5%;
    transition: .6s ease-in-out;
    transform: skewX(-12deg);
}

.secondary_button:hover span.sec-bg2{
    width: 110%;
}

.secondary_button span.sec-base{
    box-sizing: border-box;
    background-color: transparent;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #00BFFF;
}

.secondary_button span.sec-text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: transparent;
} 



            /* Mobile Version */

@media (max-width: 1024px){
    
    .home_heading{
        width: 82%;
    }

    .home_heading .heading{
        font-size: 60px;
    }

    .home_heading .subheading{
        font-weight: 300;
        font-size: 30px;
        margin-top: 8px;
    }


}


@media (max-width: 1000px) {

    .home_heading{
        width: 80%;
    }

    .home_heading .heading{
        font-size: 56px;
        line-height: 60px;
    }

    .home_heading .subheading{
        font-weight: 300;
        font-size: 24px;
        margin-top: 8px;
    }
}

@media (max-width: 500px){

    .home_heading .heading{
        font-size: 45px;
        line-height: 50px;
    }

    .home_heading .subheading{
        font-weight: 300;
        font-size: 20px;
        margin-top: 8px;
    }

    .home_heading .buttons .primary_button{
        font-size: 17px;
        width: 130px;
        height: 100%;
    }

    .home_heading .buttons .secondary_button{
        font-size: 17px;
        width: 130px;
    }
}

@media (max-width: 400px){
    .home_heading .heading{
        font-size: 40px;
        line-height: 50px;
    }

    .home_heading .subheading{
        font-weight: 300;
        font-size: 16px;
        margin-top: 8px;
    }

    .home_heading .buttons .primary_button{
        font-size: 17px;
        width: 130px;
        height: 100%;
    }

    .home_heading .buttons .secondary_button{
        font-size: 17px;
        width: 130px;
    }

}