.workone{
    width: 100%;
    min-height: 83vh;
    margin-top: 70px;
}

.workone_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1000px;
    gap: 60px;
}

.workone_heading{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #F8F8FF;
}

.workone_description{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.workone_rowone{
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #F8F8FF;
    gap: 30px;
    align-items: center;
}

.workone_rowone h5{
    font-weight: 700px;
    font-size: 25px;
}

.workone_rowone p{
    font-size: 25px;
}

.workone_rowtwo{
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #F8F8FF;
    gap: 30px;
    align-items: center;
}

.workone_rowtwo h5{
    font-size: 25px;
    font-weight: 700;
}

.workone_rowtwo p{
    font-size: 25px;
}

.workone_button{
    display: flex;
    gap: 40px;
    height: 70px;
    cursor: pointer;
}

            /* Live Button */

.workone_btnone{
    display: block;
    color: #F8F8FF;
    background-color: #00BFFF;
    font-size: 28px;
    width: 180px;
    height: 100%;
    position: relative;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.workone_btnone div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.workone_btnone span.workone-bg{
    background-color: #1B91FB;
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid #00BFFF;
    left: -5%;
    transition: .7s ease;
    transform: skewX(-10deg);
}

.workone_btnone:hover span.workone-bg{
    width: 110%;
}

.workone_btnone span.workone-bg2{
    background-color: #FF3662;
    width: 0;
    height: 100%;
    position: absolute;
    left: -5%;
    transition: .6s ease-in-out;
    transform: skewX(-12deg);
}

.workone_btnone:hover span.workone-bg2{
    width: 110%;
}

.workone_btnone span.workone-base{
    box-sizing: border-box;
    background: transparent;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #00BFFF;
}

.workone_btnone span.workone-text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: transparent;
}

      /* Github Button */

.workone_btntwo{
    display: block;
    color: #F8F8FF;
    background-color: #00BFFF;
    font-size: 28px;
    width: 180px;
    height: 100%;
    position: relative;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.workone_btntwo div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.workone_btntwo span.workone2-bg{
    background-color: #1B91FB;
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid #00BFFF;
    left: -5%;
    transition: .7s ease;
    transform: skewX(-10deg);
}

.workone_btntwo:hover span.workone2-bg{
    width: 110%;
}

.workone_btntwo span.workone2-bg2{
    background-color: #FF3662;
    width: 0;
    height: 100%;
    position: absolute;
    left: -5%;
    transition: .6s ease-in-out;
    transform: skewX(-12deg);
}

.workone_btntwo:hover span.workone2-bg2{
    width: 110%;
}

.workone_btntwo span.workone2-base{
    box-sizing: border-box;
    background: transparent;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #00BFFF;
}

.workone_btntwo span.workone2-text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: transparent;
}

.workone_rowthree{
    display: flex;
    font-size: 20px;
    color: #F8F8FF;
}

.workone_images{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}

        /* Next Button */

.workone_buttontwo{
    display: flex;
    gap: 40px;
    height: 70px;
    justify-content: flex-end;
    margin-bottom: 30px;
    cursor: pointer;
}

.workone_btnthree{
    display: block;
    color: #F8F8FF;
    background-color: #00BFFF;
    font-size: 28px;
    width: 210px;
    height: 100%;
    position: relative;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}

.workone_btnthree div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.workone_btnthree span.workone3-bg{
    background-color: #1B91FB;
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid #00BFFF;
    left: -5%;
    transition: .7s ease;
    transform: skewX(-10deg);
}

.workone_btnthree:hover span.workone3-bg{
    width: 110%;
}

.workone_btnthree span.workone3-bg2{
    background-color: #FF3662;
    width: 0;
    height: 100%;
    position: absolute;
    left: -5%;
    transition: .6s ease-in-out;
    transform: skewX(-12deg);
}

.workone_btnthree:hover span.workone3-bg2{
    width: 110%;
}

.workone_btnthree span.workone3-base{
    box-sizing: border-box;
    background: transparent;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #00BFFF;
}

.workone_btnthree span.workone3-text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: transparent;
}



            /* Mobile Version */

@media (max-width: 500px){

    .workone_heading{
        font-size: 30px;
    }

    .workone_rowone h5{
        font-size: 19px;
    }
    
    .workone_rowone p{
        font-size: 19px;
    }

    .workone_rowtwo h5{
        font-size: 17px;
    }
    
    .workone_rowtwo p{
        font-size: 17px;
        flex-wrap: wrap;
    }

    .workone_btnone{
        font-size: 25px;
        width: 150px;
    }

    .workone_btntwo{
        font-size: 25px;
        width: 150px;
    }

    .workone_rowthree{
        font-size: 16px;
    }

    .workone_btnthree{
        font-size: 25px;
        width: 190px;
    }
    
}

@media (max-width: 400px){

    .workone_rowone h5{
        font-size: 17px;
    }
    
    .workone_rowone p{
        font-size: 17px;
    }

    .workone_rowtwo h5{
        font-size: 17px;
    }
    
    .workone_rowtwo p{
        font-size: 17px;
    }

    .workone_btnone{
        font-size: 22px;
        width: 130px;
    }

    .workone_btntwo{
        font-size: 22px;
        width: 130px;
    }

    .workone_btnthree{
        font-size: 22px;
        width: 180px;
    }

}

@media(max-width: 300px){
    .workone_heading{
        font-size: 20px;
    }

    .workone_rowone h5{
        font-size: 13px;
    }

    .workone_rowone p{
        font-size: 13px;
    }

    .workone_rowtwo h5{
        font-size: 13px;
    }
    
    .workone_rowtwo p{
        font-size: 13px;
    }

    .workone_btnone{
        font-size: 19px;
        width: 100px;
    }

    .workone_btntwo{
        font-size: 19px;
        width: 100px;
    }

    .workone_btnthree{
        font-size: 19px;
        width: 150px;
    }
}





